.cardeducation {
  margin-bottom: 6rem !important;
  font-family: "Sarabun", sans-serif;
}
.imgedu {
  width: 100%;
  height: 200px;
}
.text-black-700 {
  border: 2px solid blue;
}
.text-black-700:hover {
  border: 2px solid blue;
  background-color: blue;
  color: whitesmoke;
}
